PORT=5000
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=3306
API_KEYS=["your-youtube-data-api-key"]
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
NOTIFY_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
